.container {
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin: auto;
  text-align: center;
}

.infoPanel {
  background: #f4f4f4;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.mainButton {
  background: #4169e1;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

.rankingTable {
  margin-top: 20px;
}

.rankingTable table {
  width: 100%;
  border-collapse: collapse;
}

.rankingTable th,
.rankingTable td {
  border: 1px solid #ddd;
  padding: 8px;
}

.historyTable {
  margin-top: 30px;
  background: #f9f9f9;
  padding: 15px;
  border-radius: 5px;
}

.gameRecord {
  background: white;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ddd;
  text-align: left;
}

.gameRecord h3 {
  font-size: 16px;
  margin-bottom: 5px;
}

.gameRecord table {
  width: 100%;
  border-collapse: collapse;
}

.gameRecord th,
.gameRecord td {
  border: 1px solid #ddd;
  padding: 5px;
  text-align: center;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.inputGroup {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inputGroup>input,
.inputGroup>select {
  height: 2.5em;
  margin-inline-start: 1em;
}

.submitButton {
  background: #4169e1;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 5px;
}

.cancelButton {
  background: #ff4d4d;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 5px;
}
