.title {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #333;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.inputGroup {
  text-align: left;
}

.label {
  font-size: 0.9rem;
  margin-bottom: 5px;
  display: block;
  color: #666;
}

.input {
  width: 50%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.input:focus {
  outline: none;
  border-color: #2563eb;
  box-shadow: none; /* シャドウを削除 */
}

.button {
  padding: 10px;
  background-color: #2563eb;
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #1e4db7;
}

.info {
  font-size: 1rem;
  margin: 10px 0;
  color: #333;
}

.loading {
  font-size: 1.2rem;
  color: #666;
  margin-top: 50px;
}

/* -------------------- */
/* ▼メニューバーの装飾 */
/* -------------------- */
.ddmenu {
  margin: 0px;               /* メニューバー外側の余白(ゼロ) */
  padding: 0px 0px 0px 15px; /* メニューバー内側の余白(左に15px) */
  background-color: #89ffff; /* バーの背景色(濃い赤色) */
}

/* -------------------------- */
/* ▼メインメニュー項目の装飾 */
/* -------------------------- */
ul.ddmenu li {
  width: 125px;           /* メニュー項目の横幅(125px) */
  display: inline-block;  /* ★1:横並びに配置する */
  list-style-type: none;  /* ★2:リストの先頭記号を消す */
  position: relative;     /* ★3:サブメニュー表示の基準位置にする */
}
ul.ddmenu a {
  background-color: #89ffff; /* メニュー項目の背景色(濃い赤色) */
  color: white;              /* メニュー項目の文字色(白色) */
  line-height: 40px;         /* メニュー項目のリンクの高さ(40px) */
  text-align: center;        /* メインメニューの文字列の配置(中央寄せ) */
  text-decoration: none;     /* メニュー項目の装飾(下線を消す) */
  font-weight: bold;         /* 太字にする */
  display: block;            /* ★4:項目内全域をリンク可能にする */
}
ul.ddmenu a:hover {
  background-color: #ffdddd; /* メニュー項目にマウスが載ったときの背景色(淡いピンク) */
  color: #dd0000;            /* メニュー項目にマウスが載ったときの文字色(濃い赤色) */
}

/* ▼サブメニューは、とりあえず非表示にしておく */
ul.ddmenu ul {
  display: none;         /* ★5:非表示にする */
}
